<!DOCTYPE html>
<html>
<body>

<h1>Wybory</h1>

<p>Wybierz jedna walute z wielu.</p>

<form method="post" action="/wybor">
  <label for="wybor">Wybierz walute:</label>
  <select name="walut" id="walut">
    <option value="dolar amerykański">dolar amerykański</option>
    <option value="dolar australijski">dolar australijski</option>
    <option value="dolar kanadyjski">dolar kanadyjski</option>
    <option value="funt szterling">funt szterling</option>
<!--    <option value="jen">jen</option>-->
<!--    <option value="korona czeska">korona czeska</option>-->
<!--    <option value="korona duńska">korona duńska</option>-->
<!--    <option value="korona norweska">korona norweska</option>-->
<!--    <option value="korona szwedzka">korona szwedzka</option>-->
<!--    <option value="SDR">SDR</option>-->
  </select>
  <div class="container">
    <label for="licz"><b>Ile PLN</b></label>
    <input type="text" placeholder="Podaj ile trzeba PLN" name="licz" required>
  </div>
  <br>
  <input type="submit" value="Przelicz">
</form>



</body>
</html>
